<div class="container" style="padding-top:10px;width:95%">
    <h2> Pessoas cadastradas </h2> <br/>
    <table style="width:100%"  class="table table-hover">
        <thead>
	        <tr>
	            <th><h3>Usu&aacute;rio</h3></th>
	            <th><h3>Nome</h3></th>
				<th><h3>E-mail</h3></th>
				<th><h3>Cadastro</h3></th>
				<th><h3>Tipo</h3></th>
				<th><h3>Situa&ccedil;&atilde;o</h3></th>
			</tr>	
        </thead>
        <tbody>
			<tr ng-repeat="usuario in usuarios">
				<td>{{ usuario.usuario }}</td>
				<td>{{ usuario.nome }}</td>
				<td>{{ usuario.email }}</td>
				<td>{{ usuario.dataCadastro | date:'dd/MM/yyyy  HH:mm:ss' }}</td>
				<td>{{ usuario.admin == true ? 'Administrador' : 'funcion&aacute;rio'}}</td>
				<td>{{ usuario.situacao == 'A' ? 'Ativo' : 'Inativo'}}</td>
			</tr>
        </tbody>
	</table>
</div>
